@mixin alert-variant($background, $border, $color) {
    color: color-yiq($color);
    @include gradient-bg($background);
    border-color: $border;

    hr {
        border-top-color: darken($border, 5%);
    }

    .alert-link {
        color: lighten($color, 95%);
    }
}