    <!-- Section -->
    <div class="section @@classes section-lg">
        <div class="container">
            <div class="row mb-6">
                <div class="col-lg-6">
                    <div class="mb-4">
                        <span class="h6">Badges</span>
                    </div>
                    <span class="badge badge-dark text-uppercase">Dark</span>
                    <span class="badge badge-secondary text-uppercase">Secondary</span>
                    <span class="badge badge-success text-uppercase">Success</span>
                    <span class="badge badge-danger text-uppercase">Danger</span>
                    <span class="badge badge-info text-uppercase">Info</span>
                </div>
                <div class="col-lg-6">
                    <div class="mb-4">
                        <span class="h6">Link Badges</span>
                    </div>
                    <a href="#" class="badge badge-dark">Dark</a>
                    <a href="#" class="badge badge-secondary">Secondary</a>
                    <a href="#" class="badge badge-success">Success</a>
                    <a href="#" class="badge badge-danger">Danger</a>
                    <a href="#" class="badge badge-info">Info</a>
                </div>
            </div>
            <div class="row mb-6">
                <div class="col-lg-6">
                    <div class="mb-4">
                        <span>Notification Badges</span>
                    </div>
                    <button type="button" class="btn btn-primary">
                        Notifications <span class="badge badge-pill badge-success">5</span>
                        <span class="sr-only">unread messages</span>
                    </button>
                </div>
                <div class="col-lg-6">
                    <div class="mb-4">
                        <span>Choose your size</span>
                    </div>
                    <span class="badge badge-success text-uppercase">Badge</span>
                    <span class="badge badge-md badge-success text-uppercase">Badge md</span>
                    <span class="badge badge-lg badge-success text-uppercase">Badge lg</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section -->