<!-- Section -->
<div class="section section-lg pb-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-6">
                    <h2 class="h5 text-center">Round Shape</h2>
                </div>
            </div>
        </div>
        <!--End of Title-->
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape shadow-soft border border-light rounded-circle">
                        <span class="far fa-smile"></span>
                    </div>
                    <h3 class="h5 my-3">Normal Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape shadow-inset border border-light rounded-circle">
                        <span class="far fa-smile"></span>
                    </div>
                    <h3 class="h5 my-3">Inset Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                        <span class="icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"><span class="far fa-smile"></span></span>
                    </div>
                    <h3 class="h5 my-3">Combo Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->
<!-- Section -->
<div class="section section-lg pb-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-6">
                    <h2 class="h5 text-center">Square Shape</h2>
                </div>
            </div>
        </div>
        <!--End of Title-->
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape shadow-soft border border-light rounded">
                        <span class="fas fa-user-astronaut"></span>
                    </div>
                    <h3 class="h5 my-3">Normal Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape shadow-inset border border-light rounded">
                        <span class="fas fa-user-astronaut"></span>
                    </div>
                    <h3 class="h5 my-3">Inset Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-inset border border-light rounded">
                        <span class="icon icon-md icon-shape-sm shadow-soft border border-light rounded"><span class="fas fa-user-astronaut"></span></span>
                    </div>
                    <h3 class="h5 my-3">Combo Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->
<!-- Section -->
<div class="section section-lg pb-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-6">
                    <h2 class="h5 text-center">Organic Shape</h2>
                </div>
            </div>
        </div>
        <!--End of Title-->
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape shadow-soft border border-light organic-radius">
                        <span class="fas fa-fingerprint"></span>
                    </div>
                    <h3 class="h5 my-3">Normal Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape shadow-inset border border-light organic-radius">
                        <span class="fas fa-fingerprint"></span>
                    </div>
                    <h3 class="h5 my-3">Inset Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-inset border border-light organic-radius">
                        <span class="icon icon-md icon-shape-sm shadow-soft border border-light organic-radius"><span class="fas fa-fingerprint"></span></span>
                    </div>
                    <h3 class="h5 my-3">Combo Shadow</h3>
                </div>
                <!-- End of Icon box -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->
<!-- Section -->
<div class="section section-lg pb-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-6">
                    <h2 class="h5 text-center">Choose your size</h2>
                </div>
            </div>
        </div>
        <!--End of Title-->
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light rounded-circle">
                        <span class="fas fa-user-astronaut"></span>
                    </div>
                    <h3 class="h5 my-3">Large Shape</h3>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape shadow-soft border border-light rounded-circle">
                        <span class="fas fa-user-astronaut"></span>
                    </div>
                    <h3 class="h5 my-3">Normal Shape</h3>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Icon box -->
                <div class="text-center">
                    <div class="icon icon-shape-sm shadow-soft border border-light rounded-circle">
                        <span class="fas fa-user-astronaut"></span>
                    </div>
                    <h3 class="h5 my-3">Small Shape</h3>
                </div>
                <!-- End of Icon box -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->
<!-- Section -->
<div class="section section-lg pb-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-6">
                    <h2 class="h5 text-center">Side Icons</h2>
                </div>
            </div>
        </div>
        <!--End of Title-->
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="text-left">
                    <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-shape-sm shadow-soft border-light rounded-circle">
                                <span class="fas fa-chess-rook"></span>
                            </div>
                        </div>
                        <div class="pl-4">
                            <h3 class="h5">Left Icon</h3>
                            <p>Designed with the latest design trends in mind. Our product feels modern, creative, and beautiful.</p>
                        </div>
                    </div>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-md-6 col-lg-6">
                <!-- Icon box -->
                <div class="text-right">
                    <div class="d-flex px-3">
                        <div class="pr-4">
                            <h3 class="h5">Right Icon</h3>
                            <p>Designed with the latest design trends in mind. Our product feels modern, creative, and beautiful.</p>
                        </div>
                        <div>
                            <div class="icon icon-shape-sm shadow-soft border-light rounded-circle">
                                <span class="fas fa-user-astronaut"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon box -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->
<!-- Section -->
<div class="section section-lg">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-6">
                    <h2 class="h5 text-center">Card Icons</h2>
                </div>
            </div>
        </div>
        <!--End of Title-->
        <div class="row mb-lg-5">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="card bg-primary shadow-soft border-light mb-4 mb-lg-0">
                    <div class="card-body p-4 p-xl-5">
                        <div class="icon icon-shape shadow-inset rounded-circle">
                            <span class="fas fa-basketball-ball"></span>
                        </div>
                        <h3 class="h5 my-3">Ideas and Concepts</h3>
                        <p class="mb-4">Designed with the latest design trends in mind. Our product feels modern.</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon box -->
                <div class="card bg-primary shadow-soft border-light mb-4 mb-lg-0">
                    <div class="card-body p-4 p-xl-5">
                        <div class="icon icon-shape shadow-soft rounded-circle">
                            <span class="fas fa-baseball-ball"></span>
                        </div>
                        <h3 class="h5 my-3">Ideas and Concepts</h3>
                        <p class="mb-4">Designed with the latest design trends in mind. Our product feels modern.</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
                <!-- End of Icon box -->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Icon box -->
                <div class="card bg-primary shadow-soft border-light mb-4 mb-lg-0">
                    <div class="card-body p-4 p-xl-5">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <span class="icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"><span class="fas fa-bowling-ball"></span></span>
                        </div>
                        <h3 class="h5 my-3">Ideas and Concepts</h3>
                        <p class="mb-4">Designed with the latest design trends in mind. Our product feels modern.</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
                <!-- End of Icon box -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                <!-- Icon Box -->
                <div class="card bg-primary shadow-soft border-light text-left mb-4 mb-md-0">
                    <div class="card-body p-4 p-sm-5">
                        <div class="d-flex px-3">
                            <div>
                                <div class="icon icon-shape shadow-soft rounded-circle">
                                    <span class="far fa-grin-stars"></span>
                                </div>
                            </div>
                            <div class="pl-3 pl-sm-4">
                                <h3 class="h5">100% Satisfaction</h3>
                                <p class="mb-4">Designed with the latest design trends in mind. Our product feels modern.</p>
                                <a href="#" class="btn btn-primary btn-icon">
                                    <span class="mr-2"><span class="fas fa-link"></span></span>
                                    Learn more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
            </div>
            <div class="col-12 col-lg-6">
                <!-- Icon Box -->
                <div class="card bg-primary shadow-soft border-light text-right mb-4 mb-md-0">
                    <div class="card-body p-4 p-sm-5">
                        <div class="d-flex px-3">
                            <div class="pr-3 pr-sm-4">
                                <h3 class="h5">100% Satisfaction</h3>
                                <p class="mb-4">Designed with the latest design trends in mind. Our product feels modern.</p>
                                <a href="#" class="btn btn-primary btn-icon">
                                    <span class="mr-2"><span class="fas fa-link"></span></span>
                                    Learn more
                                </a>
                            </div>
                            <div>
                                <div class="icon icon-shape shadow-inset rounded-circle">
                                    <span class="far fa-grimace"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->