<!-- Section -->
<div class="section @@classes section-lg">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12 d-block d-md-flex justify-content-between">
                <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-0" data-container="body" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on top
                </button>

                <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-0" data-container="body" data-toggle="popover" data-placement="left" title="Popover on left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on left
                </button>

                <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-0" data-container="body" data-toggle="popover" data-placement="bottom" title="Popover on bottom" data-content="Vivamus
                        sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on bottom
                </button>

                <button type="button" class="btn btn-primary btn-sm mb-4" data-container="body" data-toggle="popover" data-placement="right" title="Popover on right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on right
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->