<!-- Section -->
<div class="section section-lg">
    <div class="container">
        <!-- Title  -->
        <div class="row">
            <div class="col text-center">
                <h2 class="h5 mb-6">Round Shape</h2>
            </div>
        </div>
        <!--End of Title -->
        <div class="row">
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-soft rounded-circle mb-4">
                        <span class="step-number bg-primary rounded-circle border-light shadow-inset">1</span>
                        <span class="icon-secondary"><span class="fas fa-bullseye"></span></span>
                    </div>
                    <h3 class="h5 step-title">Goal identification</h3>
                    <p>Where I work with the client to determine what goals the site needs.</p>
                </div>
                <!-- End of Step -->
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-soft rounded-circle mb-4">
                        <span class="step-number bg-primary rounded-circle border-light shadow-inset">2</span>
                        <span class="icon-secondary"><span class="fas fa-code-branch"></span></span>
                    </div>
                    <h3 class="h5 step-title">Content creation</h3>
                    <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                </div>
                <!-- End of Step -->
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-soft rounded-circle mb-4">
                        <span class="step-number bg-primary rounded-circle border-light shadow-inset">3</span>
                        <span class="icon-secondary"><span class="fas fa-award"></span></span>
                    </div>
                    <h3 class="h5 step-title">Testing</h3>
                    <p>We've got all your pages and defined how they display to the site visitor.</p>
                </div>
                <!-- End of Step -->
            </div>
        </div>
        <!-- Title  -->
        <div class="row">
            <div class="col text-center">
                <h2 class="h5 my-6">Organic Shape</h2>
            </div>
        </div>
        <!--End of Title -->
        <div class="row">
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-soft organic-radius mb-4">
                        <span class="step-number bg-primary border-light shadow-inset">1</span>
                        <span class="icon-secondary"><span class="fas fa-bullseye"></span></span>
                    </div>
                    <h3 class="h5 step-title">Goal identification</h3>
                    <p>Where I work with the client to determine what goals the site needs.</p>
                </div>
                <!-- End of Step -->
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-soft organic-radius mb-4">
                        <span class="step-number bg-primary border-light shadow-inset">2</span>
                        <span class="icon-secondary"><span class="fas fa-code-branch"></span></span>
                    </div>
                    <h3 class="h5 step-title">Content creation</h3>
                    <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                </div>
                <!-- End of Step -->
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-soft organic-radius mb-4">
                        <span class="step-number bg-primary border-light shadow-inset">3</span>
                        <span class="icon-secondary"><span class="fas fa-award"></span></span>
                    </div>
                    <h3 class="h5 step-title">Testing</h3>
                    <p>We've got all your pages and defined how they display to the site visitor.</p>
                </div>
                <!-- End of Step -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->
<!-- Section -->
<div class="section section-lg pt-0">
    <div class="container">
        <!-- Title  -->
        <div class="row">
            <div class="col text-center">
                <h2 class="h5 mb-6">Round Shape (Inset Style)</h2>
            </div>
        </div>
        <!--End of Title -->
        <div class="row">
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-inset rounded-circle mb-4">
                        <span class="step-number bg-primary rounded-circle border-light shadow-inset">1</span>
                        <span class="icon-secondary"><span class="fas fa-bullseye"></span></span>
                    </div>
                    <h3 class="h5 step-title">Goal identification</h3>
                    <p>Where I work with the client to determine what goals the site needs.</p>
                </div>
                <!-- End of Step -->
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-inset rounded-circle mb-4">
                        <span class="step-number bg-primary rounded-circle border-light shadow-inset">2</span>
                        <span class="icon-secondary"><span class="fas fa-code-branch"></span></span>
                    </div>
                    <h3 class="h5 step-title">Content creation</h3>
                    <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                </div>
                <!-- End of Step -->
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-inset rounded-circle mb-4">
                        <span class="step-number bg-primary rounded-circle border-light shadow-inset">3</span>
                        <span class="icon-secondary"><span class="fas fa-award"></span></span>
                    </div>
                    <h3 class="h5 step-title">Testing</h3>
                    <p>We've got all your pages and defined how they display to the site visitor.</p>
                </div>
                <!-- End of Step -->
            </div>
        </div>
        <!-- Title  -->
        <div class="row">
            <div class="col text-center">
                <h2 class="h5 my-6">Organic Shape (Inset Style)</h2>
            </div>
        </div>
        <!--End of Title -->
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-inset organic-radius mb-4">
                        <span class="step-number bg-primary border-light shadow-inset">1</span>
                        <span class="icon-secondary"><span class="fas fa-bullseye"></span></span>
                    </div>
                    <h3 class="h5 step-title">Goal identification</h3>
                    <p>Where I work with the client to determine what goals the site needs.</p>
                </div>
                <!-- End of Step -->
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-inset organic-radius mb-4">
                        <span class="step-number bg-primary border-light shadow-inset">2</span>
                        <span class="icon-secondary"><span class="fas fa-code-branch"></span></span>
                    </div>
                    <h3 class="h5 step-title">Content creation</h3>
                    <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                </div>
                <!-- End of Step -->
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="step text-center">
                    <div class="step-shape shape-primary shadow-inset organic-radius mb-4">
                        <span class="step-number bg-primary border-light shadow-inset">3</span>
                        <span class="icon-secondary"><span class="fas fa-award"></span></span>
                    </div>
                    <h3 class="h5 step-title">Testing</h3>
                    <p>We've got all your pages and defined how they display to the site visitor.</p>
                </div>
                <!-- End of Step -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->