<!-- Section -->
<div class="section @@classes section-lg">
    <div class="container">
        <!-- End of Title -->
        <div class="row mt-5">
            <div class="col-lg-12 d-block d-md-flex justify-content-around">
                <button type="button" class="btn btn-primary btn-sm mr-4 mb-4" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                    Tooltip on top
                </button>
                <button type="button" class="btn btn-primary btn-sm mr-4 mb-4" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                    Tooltip on right
                </button>
                <button type="button" class="btn btn-primary btn-sm mr-4 mb-4" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                    Tooltip on bottom
                </button>
                <button type="button" class="btn btn-primary btn-sm mr-4 mb-4" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    Tooltip on left
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->