<!-- Section -->
<div class="section @@classes section-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>h1. Bootstrap heading</h1>
                <h2>h2. Bootstrap heading</h2>
                <h3>h3. Bootstrap heading</h3>
                <h4>h4. Bootstrap heading</h4>
                <h5>h5. Bootstrap heading</h5>
                <h6>h6. Bootstrap heading</h6>
            </div>
        </div>
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4">
                <div class="mt-6 mb-5">
                    <span class="h6 font-weight-bold">Customizing headings</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Fancy display heading
                    <small class="text-muted">With faded secondary text</small>
                </h1>
                <h2>
                    Fancy display heading
                    <small class="text-muted">With faded secondary text</small>
                </h2>
                <h3>
                    Fancy display heading
                    <small class="text-muted">With faded secondary text</small>
                </h3>
                <h4>
                    Fancy display heading
                    <small class="text-muted">With faded secondary text</small>
                </h4>
                <h5>
                    Fancy display heading
                    <small class="text-muted">With faded secondary text</small>
                </h5>
                <h6>
                    Fancy display heading
                    <small class="text-muted">With faded secondary text</small>
                </h6>
            </div>
        </div>
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4">
                <div class="mt-6 mb-5">
                    <span class="h6 font-weight-bold">Display headings</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1">Display 1</h1>
                <h1 class="display-2">Display 2</h1>
                <h1 class="display-3">Display 3</h1>
                <h1 class="display-4">Display 4</h1>
            </div>
        </div>
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4">
                <div class="mt-6 mb-5">
                    <span class="h6 font-weight-bold">Paragraphs</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <span class="h6 font-weight-bold">Simple paragraph</span>
                </div>
                <p>Start your development with a Pixel Design System for Bootstrap 4.Themesberg makes beautiful products to help people with creative ideas succeed.Our company empowers millions of people.
                </p>
            </div>
            <div class="col-md-6">
                <div class="mt-5 mb-3 mt-sm-0">
                    <span class="h6 font-weight-bold">Lead paragraph</span>
                </div>
                <p class="lead">Start your development with a Pixel Design System for Bootstrap 4.Themesberg makes beautiful products to help people with creative ideas succeed.Our company empowers millions of people.</p>
            </div>
        </div>
        <div class="row mt-4 mb-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Dark text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-dark mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Secondary text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-secondary mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Tertiary text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-tertiary mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Info text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-info mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Danger text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-danger mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
            </div>
        </div>
        <div class="row py-3 align-items-center">
            <div class="col-sm-2">
                <small class="text-uppercase text-muted">Success text</small>
            </div>
            <div class="col-sm-10">
                <p class="text-success mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
            </div>
        </div>
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4">
                <div class="mt-6 mb-5">
                    <span class="h6">Blockquote</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row">
            <div class="col-md-8">
                <blockquote class="blockquote text-center">
                    Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                    <footer class="blockquote-footer mt-3 text-dark">Zoltan Szőgyényi</footer>
                </blockquote>
            </div>
        </div>
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4">
                <div class="mt-6 mb-5">
                    <span class="h6">Lists</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <span class="h6">Unordered</span>
                </div>
                <ul>
                    <li>Minutes of the last meeting</li>
                    <li>Do we need yet more meetings?</li>
                    <li>Any other business
                        <ul>
                            <li>Programming</li>
                            <li>Web Design</li>
                            <li>Database</li>
                        </ul>
                    </li>
                    <li>Something funny</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="mt-5 mb-3 mt-sm-0">
                    <span class="h6 font-weight-bold">Ordered</span>
                </div>
                <ol>
                    <li>Minutes of the last meeting</li>
                    <li>Do we need yet more meetings?</li>
                    <li>Any other business
                        <ol>
                            <li>Programming</li>
                            <li>Web Design</li>
                            <li>Database</li>
                        </ol>
                    </li>
                    <li>Something funny</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->