<!-- Section -->
<div class="section section-lg">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-4 col-lg-3 mb-5 mb-lg-0">
                <h2 class="h5 mb-4">Top Story</h2>
                <div class="card bg-primary shadow-soft border-light p-3">
                    <a href="#"><img src="@@path/assets/img/blog/blog-article-1.jpg" class="card-img-top rounded" alt="themesberg desk"></a>
                    <div class="card-body px-0">
                        <small class="d-block mb-2">January 20, 2019</small>
                        <h3 class="h5">
                            <a href="#">Remote workers</a>
                        </h3>
                        <p class="card-text my-2">According to some historical records, some people ...</p>
                    </div>
                    <div class="card-footer px-0 pt-0">
                        <a class="btn btn-sm btn-block btn-primary animate-up-2" href="#">
                            <span class="fas fa-book-open mr-1"></span> Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 mt-sm-0">
                <h2 class="h5 mb-4">Featured News</h2>
                <div class="news-carousel owl-carousel owl-theme">
                    <div class="item p-3">
                        <div class="card bg-primary shadow-soft border-light">
                            <div class="card-body border-bottom border-light">
                                <h3 class="h5">
                                    <a href="#">Remote workers</a>
                                </h3>
                                <p class="card-text my-2">According to some historical records, some people ...
                                </p>
                            </div>
                            <div class="card-footer mx-4 px-0">
                                <div class="post-meta"><a href="#" class="mr-3"><i class="far fa-comments mr-2"></i>33</a><span class="font-small"><i class="far fa-clock mr-2"></i>Jan 03, 2019</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="card bg-primary shadow-soft border-light">
                            <div class="card-body border-bottom">
                                <h3 class="h5">
                                    <a href="#">Remote workers</a>
                                </h3>
                                <p class="card-text my-2">According to some historical records, some people ...
                                </p>
                            </div>
                            <div class="card-footer mx-4 px-0">
                                <div class="post-meta"><a href="#" class="mr-3"><i class="far fa-comments mr-2"></i>33</a><span class="font-small"><i class="far fa-clock mr-2"></i>Jan 03, 2019</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="card bg-primary shadow-soft border-light">
                            <div class="card-body border-bottom">
                                <h3 class="h5">
                                    <a href="#">Remote workers</a>
                                </h3>
                                <p class="card-text my-2">According to some historical records, some people ...
                                </p>
                            </div>
                            <div class="card-footer mx-4 px-0">
                                <div class="post-meta"><a href="#" class="mr-3"><i class="far fa-comments mr-2"></i>33</a><span class="font-small"><i class="far fa-clock mr-2"></i>Jan 03, 2019</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-5 mb-lg-0">
                <h2 class="h5 mb-4">Recent Actions</h2>
                <ul class="list-group list-group-flush bg-primary shadow-soft rounded border border-light">
                    <li class="list-group-item border-0"><span class="h6 text-dark">Robert T</span> on <a href="#">Logos
                            and responsive design</a></li>
                    <li class="list-group-item"><span class="h6 text-dark">Zoltan Z</span> on <a href="#">Best
                            java frameworks</a></li>
                    <li class="list-group-item"><span class="h6 text-dark">Oana C</span> on <a href="#">Bootstrap
                            4 framework</a></li>
                    <li class="list-group-item"><span class="h6 text-dark">George G</span> on <a href="#">Top
                            2019 upcoming games</a></li>
                    <li class="list-group-item"><span class="h6 text-dark">Calota A</span> on <a href="#">Angular
                            and other tools</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5 mt-lg-6 justify-content-around">
            <div class="col-lg-3 col-md-4 mb-5 mb-lg-0">
                <h2 class="h5 mb-4">Sidebar menu</h2>
                <ul class="list-group list-group-flush bg-primary shadow-soft rounded border border-light">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        <a href="#">Messages</a>
                        <span class="badge badge-info badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#">Activity</a>
                        <span class="badge badge-secondary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#">Settings</a>
                        <span class="badge badge-tertiary badge-pill">1</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 mb-5 mb-lg-0">
                <h2 class="h5 mb-4">Archives</h2>
                <ul class="list-group list-group-flush bg-primary shadow-soft rounded border border-light">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        <a href="#">May 2019</a>50
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#">April 2019</a>78
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#">March 2019</a>34
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#">February 2019</a>37
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#">January 2019</a>80
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 mb-5 mb-lg-0">
                <h2 class="h5 mb-4">Updates</h2>
                <div class="list-group bg-primary shadow-soft rounded">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="h5 mb-1">List group item heading</h3>
                            <small>7min</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="h5 mb-1">List group item heading</h3>
                            <small>3d</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="h5 mb-1">List group item heading</h3>
                            <small>10d</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->