<div class="row">
    <div class="col-6 col-lg-4 mb-5">
        <a href="@@path_pages/about.html" class="page-preview scale-up-hover-2">
            <img class="shadow-soft rounded scale" src="@@path/assets/img/presentation/all-pages/about.jpg" alt="About company page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center">About<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-4 mb-5">
        <a href="@@path_pages/pricing.html" class="page-preview scale-up-hover-2">
            <img class="shadow-soft rounded scale" src="@@path/assets/img/presentation/all-pages/pricing.jpg" alt="Pricing page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center">Pricing<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-4 mb-5">
        <a href="@@path_pages/contact.html" class="page-preview scale-up-hover-2">
            <img class="shadow-soft rounded scale" src="@@path/assets/img/presentation/all-pages/contact.jpg" alt="Contact page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center">Contact<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2 class="mb-5">Special pages</h2>
    </div>
    <div class="col-6 col-lg-4 mb-5">
        <a href="@@path_pages/sign-in.html" class="page-preview scale-up-hover-2">
            <img class="shadow-soft rounded scale" src="@@path/assets/img/presentation/all-pages/sign-in.jpg" alt="Sign in page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center">Sign in<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-4 mb-5">
        <a href="@@path_pages/sign-up.html" class="page-preview scale-up-hover-2">
            <img class="shadow-soft rounded scale" src="@@path/assets/img/presentation/all-pages/sign-up.jpg" alt="Sign up page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center">Sign up<span class="fas fa-external-link-alt ml-2"></span></h3>
            </div>
        </a>
    </div>
</div>