<section class="section section-lg bg-soft">
    <div class="container">
        <div class="row justify-content-center mb-6">
            <div class="col-12 col-lg-9 text-center">
                <h2 class="display-3 font-weight-light mb-4">Choose the right plan for your business</h2>
                <p class="lead">You have at least <span class="font-weight-bold">Free 6 Months of Updates</span> and <span class="font-weight-bold">Premium Support</span> on each package. You also have 30 days to request a refund if you're not happy with your purchase.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card bg-primary shadow-soft border-light mb-3 px-2">
                    <div class="card-header border-lighten p-4">
                        <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 mb-0">69</span> </div>
                        <h3 class="h4 mb-3 text-black">Freelancer</h3>
                        <p class="font-weight-normal font-small mb-0">Great for personal use and for your side projects.</p>
                    </div>
                    <div class="card-body pb-5 pt-2">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Full documentation</li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Domains: <strong>1</strong></li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Team size: <strong>1 developer</strong></li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Premium support: <strong>6 months</strong></li>
                            <li class="list-group-item font-weight-normal py-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Free updates: <strong>6 months</strong></li>
                        </ul>
                    </div>
                    <div class="card-footer pt-0 px-4 pb-4"><a href="https://themesberg.com/product/ui-kits/pixel-pro-premium-bootstrap-4-ui-kit" target="_blank" class="btn btn-block btn-primary"> Buy now <span class="icon icon-xs ml-3"></span> </a> </div>
                </div> 
                <a href="https://themesberg.com/licensing#freelancer" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="far fa-question-circle mr-2"></span>Freelancer License</a> 
            </div>
            <div class="col-12 col-lg-4">
                <div class="card bg-primary shadow-soft border-light mb-3 px-2">
                    <div class="card-header border-lighten p-4">
                        <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 mb-0">199</span> </div>
                        <h3 class="h4 mb-3 text-black">Company</h3>
                        <p class="font-weight-normal font-small mb-0">Relevant for multiple users and extended support.</p>
                    </div>
                    <div class="card-body pb-5 pt-2">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Full documentation</li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Domains: <strong>Unlimited</strong></li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Team size: <strong>1-5 developers</strong></li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Premium support: <strong>12 months</strong></li>
                            <li class="list-group-item font-weight-normal py-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Free updates: <strong>12 months</strong></li>
                        </ul>
                    </div>
                    <div class="card-footer pt-0 px-4 pb-4"><a href="https://themesberg.com/product/ui-kits/pixel-pro-premium-bootstrap-4-ui-kit" target="_blank" class="btn btn-block btn-primary"> Buy now <span class="icon icon-xs ml-3"></span> </a> </div>
                </div> 
                <a href="https://themesberg.com/licensing#company" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="far fa-question-circle mr-2"></span>Company License</a> 
            </div>
            <div class="col-12 col-lg-4">
                <div class="card bg-primary shadow-soft border-light mb-3 px-2">
                    <div class="card-header border-lighten p-4">
                        <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 mb-0">499</span> </div>
                        <h3 class="h4 mb-3 text-black">Enterprise</h3>
                        <p class="font-weight-normal font-small mb-0">Best for large scale uses and extended redistribution rights.</p>
                    </div>
                    <div class="card-body pb-5 pt-2">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Full documentation</li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Domains: <strong>Unlimited</strong></li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Team size: <strong>Unlimited</strong></li>
                            <li class="list-group-item font-weight-normal pt-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Premium support: <strong>24 months</strong></li>
                            <li class="list-group-item font-weight-normal py-0 border-0"><span class="icon-success mr-2"><span class="fas fa-check"></span></span>Free updates: <strong>12 months</strong></li>
                        </ul>
                    </div>
                    <div class="card-footer pt-0 px-4 pb-4"><a href="https://themesberg.com/product/ui-kits/pixel-pro-premium-bootstrap-4-ui-kit" target="_blank" class="btn btn-block btn-primary"> Buy now <span class="icon icon-xs ml-3"></span> </a> </div>
                </div> 
                <a href="https://themesberg.com/licensing#enterprise" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" class="font-small text-gray text-center d-block my-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="far fa-question-circle mr-2"></span>Enterprise License</a> 
            </div>
        </div>
    </div>
</section>